.hiring {
  text-align: center;
  margin: 50px 15px 0 15px;

  @include for-large {
    margin-top: 103px;
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    margin: 0;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.36px;
    color: #2b292d;
  }

  &-content {
    font-family: Work Sans;
    font-size: 24px;
    line-height: 34px;
    color: #2b292d;
    margin: 18px 0 30px 0;
  }

  &-button {
    margin-bottom: 39px;
    width: 100%;

    @include for-large {
      max-width: 247px;
      margin-bottom: 110px;
    }
  }

  &-container {
    height: 140px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 0px 8px 8px 0px;
    margin-bottom: 15px;

    @include for-large {
      width: 750px;
      height: 81px;
      border-radius: 8px;
    }

    &_text {
      margin-left: 20px;
      margin-right: 21px;

      @include for-large {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }

    &:hover {
      background-color: #3040c4;
      color: #fff;
      box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07), 0px 13px 18px rgba(0, 0, 0, 0.15);
    }
  }

  .container__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 50px;
    background-color: #d5d4d5;

    @include for-large {
      height: 100%;
      background: none;
    }
  }

  .first_line {
    text-align: start;
    font-family: Work Sans;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #2b292d;

    @include for-large {
      width: 408px;
    }
  }

  .second_line {
    text-align: start;
    font-family: Work Sans;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #2b292d;
    mix-blend-mode: normal;
    opacity: 0.6;

    @include for-large {
      display: block;
      margin-right: 15px;
      width: 232px;
    }
  }
}
